@model InterestResult

<div>Edit details for interest @(Model.Name).</div>

<div>
    <h1>Filters</h1>
    @foreach (var filterTypeAndId in Model.OrderedFilterTypesAndIds)
    {
        <div>
            @switch (filterTypeAndId.Item1)
            {
                case FilterType.Discrete:
                    var discreteFilter = Model.DiscreteFiltersById[filterTypeAndId.Item2];
                    <span>Discrete filter, @discreteFilter.Name, with options: </span>
                    <span>@(string.Join(", ", discreteFilter.Options.Select(fo => fo.Name).ToArray()))</span>
                    break;
                case FilterType.Continuous:
                    var continuousFilter = Model.ContinuousFiltersById[filterTypeAndId.Item2];
                    <span>Continuous filter, @continuousFilter.Name, in range </span>
                    <span>@continuousFilter.MinimumValue to @continuousFilter.MaximumValue</span>
                    break;
                case FilterType.Switch:
                    var switchFilter = Model.SwitchFiltersById[filterTypeAndId.Item2];
                    <span>Switch filter, @switchFilter.Name</span>
                    break;
                default:
                    throw new Exception("Unrecognised FilterType");
            }
        </div>
    }
</div>

<a asp-route-area="Interests" asp-controller="Interests" asp-action="AddFilter" asp-route-path="@Model.Path">Add Filter</a>
